* {
	margin: 0;
	padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-image: url(./portfolioBg.jpg);
  overflow: auto;
  overflow-x: auto;
}

.bgMini {
  background-size: cover;
  background-image: url(./portfolioBg.jpg);
  height: 50vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  background-color: rgba(0, 0, 0, 0.85);
  height: 88vh;
  width: auto;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15% 50%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(92, 94, 94);
}

.homeMini {
  background-color: rgba(0, 0, 0, 0.85);
  height: 44vh;
  width: auto;
  text-align: center;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15% 50%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(92, 94, 94);
}

.home h2{
  background-image: url('./portfolioBg.jpg');
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 0vh;
  flex: 0 1 auto;
  background-size: contain;
  background-repeat: repeat;
}

.homeMini h2{
  background-image: url('./portfolioBg.jpg');
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 0vh;
  flex: 0 1 auto;
  background-size: contain;
  background-repeat: repeat;
}

.tabBar {
  background-color: yellow;
} 


/*  */

.textHomeWelcome {
  color: rgba(255, 255, 0, 0);
  text-size-adjust: auto;
  font-size: 8vh;
  padding-top: 4%;
  padding-right: 50%;
  font-family: "FreeMono", monospace;
  white-space: nowrap;
}

.textHomeWelcomeMini {
  color: rgba(255, 255, 0, 0);
  text-size-adjust: auto;
  font-size: 4vh;
  padding-top: 4%;
  padding-right: 50%;
  font-family: "FreeMono", monospace;
  white-space: nowrap;
}

.textHomeTomy {
  color: rgba(255, 255, 255, 0);
  text-size-adjust: auto;
  font-size: 5vh;
  font-family: "FreeMono", monospace;
  white-space: nowrap;
}

.textHomeTomyMini {
  color: rgba(255, 255, 255, 0);
  text-size-adjust: auto;
  font-size: 2.5vh;
  font-family: "FreeMono", monospace;
  white-space: nowrap;
}

.textHomePortfolio {
  color: transparent;
  text-size-adjust: auto;
  font-size: 12vh;
  padding-bottom: 2%;
  padding-left: 35%;
  font-family: "FreeMono", monospace;
  white-space: nowrap;
  text-decoration-line: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 2%;
  text-underline-offset: 8px;
}

.textHomePortfolioMini {
  color: transparent;
  text-size-adjust: auto;
  font-size: 6vh;
  padding-bottom: 2%;
  padding-left: 35%;
  font-family: "FreeMono", monospace;
  white-space: nowrap;
  text-decoration-line: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 2%;
  text-underline-offset: 8px;
}






/* ANIMATIONS */

#w {
  animation-name: textColor;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
 }

 #e {
  animation-name: textColor;
  animation-delay: 0.15s;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
 }

 #l {
  animation-name: textColor;
  animation-delay: 0.30s;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
 }

 #c {
  animation-name: textColor;
  animation-delay: 0.45s;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
 }

 #o {
  animation-name: textColor;
  animation-delay: 0.6s;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
 }

 #m {
  animation-name: textColor;
  animation-delay: 0.75s;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
 }

 #ee {
  animation-name: textColor;
  animation-delay: 0.9s;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
 }

@keyframes textColor {
  
  100%{color: greenyellow}
}

#to {
  animation-name: toMy;
  animation-delay: 1s;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
}

#my {
  animation-name: toMy;
  animation-delay: 1.15s;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
}

@keyframes toMy {
  50% {color: rgba(0, 255, 255, 0.136)}
  100%{color: white}
}

#lineA {
  animation-name: lineAA;
  animation-delay: 1.2s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes lineAA {
  0%{color: yellow}
  12.5%{color: transparent}
  25%{color: greenyellow}
  38%{color: transparent}
  50%{color: yellow}
  62.5%{color:transparent}
  75%{color: greenyellow}
  90.5%{color: transparent}
  100%{color: yellow}
}

/*  HOME background animation */
#homeBody {
  animation-name: homeBody;
  animation-delay: 1.1s;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

@keyframes homeBody {
  20%{border-radius: 60% 10%; background-color: rgba(3, 24, 4, 0.85)}
  50%{border-radius: 60% 30%; background-color: rgba(20, 0, 20, 0.878);}
  100%{border-radius: 10px; background-color: rgba(20, 0, 20, 0.717);} 
}







/* WEB DEV animation */
#webDev {
  animation-name: webDevColor;
  animation-delay: 1.5s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes webDevColor {  
  50%{font-size: 35vh}
  100%{font-size: 25vh}
}

#webDevMini {
  animation-name: webDevColorMini;
  animation-delay: 1.5s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes webDevColorMini {  
  50%{font-size: 17.5vh}
  100%{font-size: 12.5vh}
}

/* PORTFOLIO animation */
#portfolio {
  animation-name: portfolio;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#lineB {
  animation-name: lineBB;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes portfolio {
  50% {color: rgba(255, 255, 255, 0.51); text-decoration-color: greenyellow;}
  100%{color: yellow; text-decoration-color: white;}
}

@keyframes lineBB {
  50% {color: yellow;}
  100%{color: greenyellow}
}


/* BUTTON animation */


#openButton {
  animation-name: openButton;
  animation-delay: 6s;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}



@keyframes openButton {
  0%{color: rgb(0, 81, 0);}
  15%{background-color: rgba(20, 0, 20, 0.7); color:yellow}
  45%{background-color: rgba(3, 24, 4, 0.85); color: white;}
  55%{background-color: rgba(3, 24, 4, 0.85); color: white;}
  85%{background-color: rgba(20, 0, 20, 0.7); color: yellow}
  95%{background-color: rgba(20, 0, 20, 0.35); color:rgb(0, 81, 0);}
  100%{background-color: rgba(20, 0, 20, 0.034); color: rgb(0, 81, 0);}

}
.under{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  /* background-color: rgba(0, 20, 18, 0.717); */
  z-index: 0;

}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5%;
  background-color: rgba(20, 0, 20, 0.717);
  color: white;
  text-align: center;
}

.aboutMe {
  /* margin: 15px; */
  margin-left: 40px;
  margin-right: 40px;
  padding: 15px;
  background: lavenderblush;
  height: 75vh;  
  overflow-y: auto;
}

.projects {
  /* margin-left: 15px;
  margin-right: 15px; */
  background-color: rgb(96, 106, 96);
  color: lavender;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 25px;
  box-shadow: 0 0 15px 10px #b2b2b2ab;  
}

.projects h2{
  background-image: url('./portfolioBg.jpg');
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 15vh;
  background-size: contain;
  background-repeat: repeat;
  text-decoration: underline;
  text-decoration-color: yellowgreen;
  text-underline-offset: 20px;
}


.aboutButton {
  height: 5.5vh;
  font-size: 2.5vh;
  width: 18vh;
  border-radius: 5px;
  
  /* color: rgb(7, 51, 7) */
}

.outro {
  background-color: rgba(31, 10, 31, 0.61);
  height: 45vh;
  width: 100vh;
  text-align: center;
  /* display: flex; */
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 0 15px 10px #b2b2b2ab;

}

.outro h1{
  background-image: url('./portfolioBg.jpg');
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.612);

  background-clip: text;
  color: rgba(0, 100, 0, 0.132);
  font-size: 9vh;
  flex: 0 1 auto;
  background-size: contain;
  background-repeat: repeat;

}

.photos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vh;
}

.lists {
  list-style-position: outside;
  list-style-type: circle;
  /* color: rgba(100, 11, 163, 0.604); */
  
}
